@charset "UTF-8";
/* 公共样式 */
/* 导航栏字体 */
@font-face {
  font-family: fpIconFont;
  src: url(../fonts/font_eu7qkdb0zt3jif6r.woff) format("woff");
}
/* 最外层 */
#mallPage {
  width: 100%;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif;
  font-size: 12px;
}

/* 导航栏 */
#mallPage #site-nav {
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
}

.sn-container {
  position: relative;
  color: #999;
}
.sn-container a {
  color: #999;
}
.sn-container .login-info .sn-login {
  padding: 0 10px 0 20px;
}
.sn-container ul {
  position: absolute;
  right: 0;
  top: 0;
}
.sn-container ul li {
  float: left;
  margin-right: 12px;
}
.sn-container ul li a span.icon-gouwuche {
  font-size: 13px;
  margin-right: 3px;
  color: #FF0036;
}
.sn-container ul li span.icon-phone {
  font-size: 14px;
  color: #FF0036;
}
.sn-container ul li span.icon-daohanglan {
  font-size: 12px;
  color: #FF0036;
}

/* header头部 */
#mallPage #header {
  height: 130px;
  position: relative;
  padding-top: 38px;
  box-sizing: border-box;
}
#mallPage #header img {
  position: absolute;
  left: 0px;
  top: 0;
}

#header .mallSearch {
  width: 623px;
  height: 36px;
  line-height: 36px;
  margin-left: 300px;
  border: 2px solid #FF0036;
  position: relative;
}
#header .mallSearch input {
  border: none;
  width: 491px;
  outline: none;
  font: 16px/22px arial;
  padding: 5px 3px 5px 5px;
  box-sizing: border-box;
}
#header .mallSearch button {
  width: 132px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  border: none;
  outline: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  color: #fff;
  background-color: #FF0036;
}

/* content - 导航栏部分 */
#content {
  background-color: #f5f5f5;
}

#mallPage #content .main-nav {
  height: 35.5px;
}

.main-nav .inner-con {
  width: 1030px;
  height: 36px;
  margin-left: 245px;
}
.main-nav .inner-con .inner-con1 {
  float: left;
}
.main-nav .inner-con .inner-con1 a {
  height: 35px;
  line-height: 35px;
  color: #333;
  cursor: pointer;
  float: left;
  padding: 0 8px;
  font-size: 16px;
}
.main-nav .inner-con .inner-con1 a:hover {
  color: #ff0036;
}
.main-nav .inner-con .inner-con1 a img {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  display: block;
}

/* content - j-category */
#mallPage #content .j-category {
  height: 500px;
}

.j-category {
  position: relative;
  height: 500px;
  width: 100%;
}
.j-category .j-nav {
  position: absolute;
  left: 45px;
}
.j-category .j-nav span {
  position: absolute;
  z-index: 100;
  margin-top: -36px;
  display: inline-block;
  width: 200px;
  height: 36px;
  line-height: 36px;
  background-color: #FF0036;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.j-category .j-nav span i {
  margin: 0 14px;
  font-size: 14px;
}
.j-category .j-nav .j-item {
  width: 200px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.55);
  position: relative;
  z-index: 11;
}
.j-category .j-nav .j-item li {
  position: relative;
  height: 31.2px;
  line-height: 31.2px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.j-category .j-nav .j-item li:hover {
  background-color: #fff;
  font-weight: bold;
}
.j-category .j-nav .j-item li .icon {
  font-family: fpIconFont;
  display: inline-block;
  opacity: .5;
  margin-left: 14px;
  margin-right: 4px;
  height: 31px;
  line-height: 31px;
  font-size: 16px;
}
.j-category .j-nav .j-item li:nth-child(2n-1):hover {
  color: #e54077;
}
.j-category .j-nav .j-item li:nth-child(2n):hover {
  color: #427def;
}

.banner-con {
  height: 500px;
  position: relative;
}
.banner-con ul {
  height: 100%;
}
.banner-con ul li {
  width: 100%;
  height: 100%;
  transition: all 1s;
  position: absolute;
  opacity: 0;
}
.banner-con ul li:nth-of-type(1) {
  background-color: #501298;
}
.banner-con ul li:nth-of-type(2), .banner-con ul li:nth-of-type(3), .banner-con ul li:nth-of-type(4) {
  background-color: #e8e8e8;
}
.banner-con ul li:nth-of-type(5) {
  background-color: #A80601;
}
.banner-con ul li:nth-of-type(6) {
  background-color: #DD3C00;
}
.banner-con ul li a {
  position: absolute;
  left: 95px;
  top: 0;
}
.banner-con ul li > a > img {
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
}
.banner-con ol {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
}
.banner-con ol li {
  background: #000;
  width: 25px;
  height: 5px;
  display: inline-block;
  overflow: hidden;
  margin-left: 5px;
  cursor: pointer;
  opacity: .3;
}
.banner-con ol li.active {
  opacity: .5;
  background-color: #fff;
}

/*  content - j-activity*/
.j-activity {
  padding-top: 24px;
  padding-right: 30px;
}

/* j - brandWall */
.j-brandWall .brandWallbody {
  display: flex;
  justify-content: space-between;
}

.brandWallbody .brandWall-item {
  position: relative;
}
.brandWallbody .brandWall-item .head {
  background-color: #fff;
  padding: 10px;
  line-height: 28px;
  color: #333;
}
.brandWallbody .brandWall-item .head .cn {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 18px;
}
.brandWallbody .brandWall-item .head .en {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}
.brandWallbody .brandWall-item .head .more {
  position: absolute;
  right: 14px;
  top: 0;
  width: 42px;
  height: 54px;
  line-height: 54px;
  z-index: 99;
  background-size: 18px 18px;
  background-image: url(//img.alicdn.com/tfs/TB1B7RoaMMPMeJjy1XcXXXpppXa-36-36.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 14px;
  font-size: 16px;
  color: #666;
  overflow: hidden;
}
.brandWallbody .brandWall-item .body {
  width: 100%;
  height: 316px;
  display: inline-block;
}

/* j - newHotBrand */
.j-newHotBrand .newHotBrandbody {
  margin-top: 15px;
}

.newHotBrandbody .brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 108px;
  margin-right: 1px;
  margin-bottom: 1px;
  position: relative;
  float: left;
  background-color: #fff;
}
.newHotBrandbody .brand-item:hover .brand-mask {
  opacity: 1;
}
.newHotBrandbody .brand-item .brand-img img {
  width: 100px;
  height: 50px;
}
.newHotBrandbody .brand-item .brand-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.newHotBrandbody .brand-item .coupon {
  color: #fff;
  text-align: center;
  line-height: 90px;
  height: 60px;
}
.newHotBrandbody .brand-item .enter {
  text-align: center;
  height: 32px;
}
.newHotBrandbody .brand-item .enter span {
  display: inline-block;
  color: #fff;
  width: 63px;
  height: 18px;
  font-size: 12px;
  line-height: 15px;
  background-color: #FF0036;
  cursor: pointer;
  border-radius: 9px;
}

/* j - newFloor */
.j-activity .j-newFloor {
  margin-top: 30px;
}
.j-activity .j-newFloor .floor-img img {
  vertical-align: middle;
  width: 214px;
  height: 25px;
}

.newFloorbody {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.newFloorbody .big-banner {
  position: relative;
  width: 235px;
  height: 618px;
}
.newFloorbody .big-banner a {
  width: 235px;
  height: 301px;
  display: block;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
.newFloorbody .middle-con li {
  float: left;
  position: relative;
  width: 234px;
  height: 300px;
  margin-left: 12px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-bottom: 15px;
}
.newFloorbody .middle-con li:hover {
  width: 234px;
  height: 300px;
  border-color: #FF0036;
}
.newFloorbody .middle-con li:hover img {
  opacity: .6;
}
.newFloorbody .middle-con li .title {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 220px;
  font-size: 18px;
  z-index: 10;
  line-height: 24px;
  height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.newFloorbody .middle-con li .sub-title {
  position: absolute;
  top: 49px;
  left: 25px;
  width: 220px;
  font-size: 14px;
  z-index: 10;
  line-height: 18px;
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.newFloorbody .middle-con li .title-img {
  width: 170px;
  height: 170px;
  margin: 90px 33px 42px 32px;
}
.newFloorbody .middle-con li .item-img {
  margin-top: 20px;
  text-align: center;
  width: 185px;
  height: 185px;
  margin-left: 25px;
}
.newFloorbody .middle-con li .item-title {
  width: 135px;
  height: 40px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  overflow: hidden;
  margin: 8px auto;
}
.newFloorbody .middle-con li .item-price {
  font-size: 18px;
  color: #FF0036;
  line-height: 18px;
  text-align: center;
  margin: 10px auto;
}

/* content - j-wonderful */
.j-wonderful {
  padding-top: 24px;
  padding-right: 30px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.wonderful-title {
  width: 100%;
  color: #666;
  text-align: center;
  height: 43px;
  font-weight: 100;
}
.wonderful-title .text-ctn {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Microsoft YaHei',SimSun,sans-serif,'\65b9\6b63\5170\4ead\9ed1';
}
.wonderful-title .text-ctn .icon-xinaixin {
  color: #FF0036;
}
.wonderful-title .text-ctn:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  left: -38px;
}
.wonderful-title .text-ctn:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  right: -38px;
}

.wonderfulbody {
  width: 1230px;
  display: flex;
  justify-content: space-between;
  height: 333px;
}
.wonderfulbody li {
  float: left;
  width: 235px;
  margin-bottom: 7px;
}
.wonderfulbody li a {
  display: block;
  border: 2px solid #fff;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin-right: 7px;
  margin-bottom: 7px;
  width: 100%;
  height: 315px;
}
.wonderfulbody li a:hover {
  outline: 1px solid #ff0036;
}
.wonderfulbody .item-pic {
  display: block;
  width: 185px;
  height: 185px;
  margin: 20px auto 0;
}
.wonderfulbody .item-pic img {
  width: 185px;
  height: 185px;
}
.wonderfulbody .item-info {
  display: block;
  padding: 14px 12px 8px;
  text-align: center;
}
.wonderfulbody .item-info .item-desc {
  margin: 8px auto;
  display: block;
  width: 135px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
.wonderfulbody .item-info .item-desc .item-name {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
.wonderfulbody .item-info .item-price {
  position: relative;
  display: block;
  height: 33px;
  line-height: 22px;
  margin-top: 2px;
  line-height: 32px;
  color: #ff0036;
  font-size: 18px;
}

/* content - j-life */
.j-lift ul {
  width: 36px;
  position: fixed;
  left: 3px;
  top: 35%;
}
.j-lift ul li {
  width: 36px;
  height: 36px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #666;
  margin-bottom: 1px;
}
.j-lift ul li a {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.j-lift ul li:nth-of-type(1) {
  background-color: #FF0036;
}
.j-lift ul li:nth-of-type(6) {
  padding: none;
}
.j-lift ul li:nth-of-type(6) a {
  display: inline-block;
  transform: translateY(-6px);
}
.j-lift ul li:nth-of-type(6) a i {
  font-size: 18px;
}

/* footer */
.footer {
  width: 100%;
}
.footer .foot {
  background-color: #f5f5f5;
  padding-bottom: 5px;
}
.footer .foot .tm-end {
  width: 80px;
  height: 45px;
  background: url("//img.alicdn.com/tps/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png") no-repeat;
  position: relative;
  content: '\20';
  text-align: center;
  margin: 0 auto 10px;
  background-size: cover;
  z-index: 9;
}
.footer .footer-con {
  border-top: 1px solid #D1D7DC;
}
.footer .footer-con .tmall-ensure {
  width: 1190px;
  height: 100px;
  background: #fff;
  background: url("//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg") no-repeat;
  margin: 25px auto;
}
.footer .footer-con .tmall-desc {
  position: relative;
  width: 1190px;
  padding-top: 22px;
  height: 190px;
  margin: auto;
  border-top: 1px solid #ededed;
}
.footer .footer-con .tmall-desc dl {
  float: left;
  width: 186px;
  padding-left: 52px;
}
.footer .footer-con .tmall-desc dl dt {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
.footer .footer-con .tmall-desc dl dd a {
  text-align: left;
  height: 20px;
  line-height: 20px;
  color: #8b8b8b;
}
.footer .footer-con .tmall-desc dl#mobile {
  float: left;
  width: 186px;
  padding-left: 52px;
}
.footer .footer-con .tmall-desc dl#mobile dd img {
  display: inline-block;
  width: 105px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  /* img{
      background-size:100% 100%;
  } */
}
.footer .footer-con .tmall-desc .smalltmall {
  width: 68px;
  height: 25px;
  background-image: url("//img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png");
  background-repeat: no-repeat;
  background-size: 68px 25px;
  position: absolute;
  bottom: 0;
  left: 45px;
}
.footer .footer-con .tmall-copyright {
  border-top: 2px solid #FF0036;
  background: #000;
  text-align: left;
  min-height: 177px;
}
.footer .footer-con .tmall-copyright .footer-tmallinfo {
  width: 1190px;
  margin: 0 auto;
  line-height: 25px;
  padding: 5px 0;
  color: #fff;
}
.footer .footer-con .tmall-copyright .footer-tmallinfo a {
  margin-right: 3px;
  color: #fff;
}
.footer .footer-con .tmall-copyright .footer-copyright {
  width: 1190px;
  margin: 0 auto;
  line-height: 20px;
  background: #000;
  color: #a4a4a4;
}
.footer .footer-con .tmall-copyright .footer-copyright span {
  color: #a4a4a4;
}
.footer .footer-con .tmall-copyright .footer-copyright a {
  color: #A4A4A4;
}
.footer .footer-con .tmall-copyright .footer-copyright b {
  display: block;
  color: #686868;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
