/* 公共样式 */
@import "common.scss";
$redcolor:#ff0036;

/* 登录头部 */
.header{
    padding: 22px 0px;
    height: 44px;
    width: 1190px;
    margin: auto;    
    a img{
        display: block;
        width: 190px;
        height:27px;
        background-size:100% 100%;
    }
}
/* 登录主内容区 */
.content{
    position: relative;
    width: 100%;
    background-color: rgb(249, 127, 190);
    .inner{
        width: 1190px;
        margin: auto;
    }
    .form-inner{
        width:350px;
        height:400px;
        background-color: #fff;
        overflow: hidden;
        position: absolute;
        top:100px;
        right:150px;
        min-height: 350px;
        padding: 25px 25px 23px;
        color: #6c6c6c;
        background: #fff;
        margin: 0 auto;
        box-sizing: border-box;       
    }
}
.form-login{
    box-sizing: border-box;
    .login-block{
        text-align: left;
        margin-top: 4px;       
        a{
            display: block;
            width:64px;
            height:22px;
            line-height: 18px;
            font-weight: 700;;
            margin:9px 10px 00;
            color:#3c3c3c;
            font-size: 16px;
        }
    } 
    .fm-hint{
        display: none;;
        height:18px;
        line-height: 18px;
        padding:5px 8px;
        font-size:12px;
        color:#6c6c6c;
        background-color: #fef2f2;
        border:1px solid #ff934c;
        margin:10px 0;
        .icon-icon{
            color:#ff934c;
        }
    }
    .fm-field{
        margin-top:20px;
        width:100%;
        .input-user{
            width:100%;
            position: relative;
            label{
                @include label;
                left: 1px;
                top: 1px;    
            }
            
        }
        .input-pwd{
            position: relative;
            margin-top:20px;
            label{
                @include label;
                left: 1px;
                top: 1px; 
                .icon-mima{
                    font-size:20px;
                }   
            }
        }
        input{
            width:100%;
            border: 1px solid #ccc;
            height: 42px;
            outline: none;
            font-size: 14px;
            padding-left: 50px;
            box-sizing: border-box;
            &:hover{
                border:1px solid #ff0036;
            }
        }
    }
    .fm-btn{
        width:100%;
        margin-top:20px;
        .submit{
            width:100%;
            line-height: 42px;
            text-align: center;
            outline:none;
            border:none;
            color:#fff;
            font-size:16px;
            background-color: $redcolor;
        }
    }
    .fm-link{
        margin-top:20px;
        text-align: right;
        a{
            color:#6c6c6c;
            font-size:12px;
        }
    } 
    
}

/* footer */
.tmall-copyright{ 
    @include tmall-copyright;
    margin-top:30px;
    border:none !important;
    background:#fff !important;
    font-size:12px !important;
    .footer-tmallinfo{
        a{
            color: #333 !important;
        }               
    }
    
}